html {
	background-color: #f9faff;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	height: 100%;
	background-color: #f9faff;
}

a {
	color: #92badd;
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
}

h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin: 40px 8px 10px 8px;
	color: #4d575d;
}

#root {
	height: 100%;
}

.App {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100;
}

.loginForm {
	padding: 1em;
	width: 100%;
	max-width: 450px;
}

label {
	display: flex;
	font-weight: 600;
}

button {
	justify-content: flex-end;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.headerItem {
	color: #f9faff !important;
	cursor: pointer;
}

.iconLeft {
	margin-right: 5px;
}

.registerForm {
	margin-top: 15px;
}

.registerButton {
	margin-top: auto;
	padding: 0 15px;
}

.fa-phone:before {
	color: #324353;
}

.fa-at:before {
	color: #324353;
}

.fa-user:before {
	color: #324353;
}
.fa-trash-alt:before {
	color: #cc0000;
	cursor: pointer;
}

.fa-edit:before {
	color: #007bff;
	cursor: pointer;
}

.card-title {
	font-size: x-large;
}

.card {
	margin: 5px 0;
}

.actions {
	right: 0;
	position: absolute;
	top: 0;
	padding: 10px;
}
